body{
  background-color:#f5f5f5
  }

.a{
  height: 40px;
  color: black;
  background-color: #0098f1;
  }

.b{
  margin-left:0.5cm;
  }

.c{
  margin-top:10px;
  height:30px
  }
  
.d{
  background-color:white;
  }

.e{
  height:25px;
  background-color:#f5f5f5
  }

.g{
  height:250px;
  background-color:white;
  }

.k{
  height:25px;
  background-color:#f5f5f5;
  }

.l{
  height:250px;
  background-color:white;
  }

#child{
  line-height: 40px
      }

